<div class="container mt-3">

    <!-- Success Message -->

    <!--
    <div class="alert alert-success">

        Resource Added Successfully

    </div>
    -->

    <!-- Error Message -->

    <!--
    <div class="alert alert-danger">

        Invalid Credentials

    </div>
    -->

</div>